{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3  {
    text-align: center;
  }
</style>

{% if not request.user.is_authenticated %}
    <form class="form-signin" method="post">{% csrf_token %}
      <div class="d-flex flex-column pb-3">
        <img class="img-fluid mx-auto d-block" src="{% static 'account/images/logo.jpeg' %}" alt="Codignwithmitch logo image" width="72" height="72">
      </div>

      <h1 class="h3 mb-3 font-weight-normal">Login</h1>

      {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message|safe }}</div>
            {% endfor %}
        {% endif %}
        <div class="form-group">
            <input class="form-control" id="login-email" type="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" placeholder="Enter Your Password" required>
        </div>
        <div class="form-group mb-0">
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% else %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
            <span class="submitting"></span>
            </div>
        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Reset Password">
            <span class="submitting"></span>
        </div>
            <small id="become-volunteer_Help" class="form-text text-muted">
                <a href="{% url 'register' %}">Register</a></small>
        </div>

    </form>
{% endif %}
<div class="d-flex flex-column">
  <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
</div>



{% endblock content %}
