{% extends "app/base.html" %}
{% load static %}
{% block title %}Achievers Club | Logout{% endblock %}
{% block content %}
    <div class="page-heading-85912" style="background-image: url({% static 'app/images/w.jpg' %})">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <h1 class="mb-0 heading text-white">Logout</h1>
                    <p class="mb-0 text-white">Know more about us, who we are...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-breadcrumns-23195 border-bottom">
        <div class="container">
            <a href="#">Home</a>
            <span class="mx-3 icon-keyboard_arrow_right"></span>
            <span class="current">Logout</span>
        </div>
    </div>
    <!-- END: .cover -->
    <!-- BEGIN: #main -->
    <div id="main">
        <!-- BEGIN: .site-section -->
        <div class="site-section section-29101 overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading line-primary">Logout</h3>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="form-group mb-0">
                            <span class="submitting"></span>
                            <h5>Want to login again <a href="{% url 'login' %}">Click here</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-lg-5">
                        <!-- END: .social-wrap -->
                        <div class="d-block social-wrap">
                            <h3 class="section-heading heading-xs mb-4 line-primary">Follow Us</h3>
                            <ul class="list-unstyled d-flex social-29021 primary">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            </ul>
                        </div>
                        <!-- END: .social-wrap -->
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}