{% extends 'base.html' %}



{% block body %}

<h1>Password Reset</h1>

{% if validlink %}

<form action="" method="post">

    {% csrf_token %}

    {{form.as_p}}


     <input type="submit" value="Reset Password">



</form>

{% else %}
<p>Password reset email link was invalid, you can request a new one .</p>

{% endif %}

{% endblock %}