{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">
  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .h3{
    text-align: center;
  }

</style>


<form class="form-signin" method="post">{% csrf_token %}
  <div class="d-flex flex-column pb-3">
    <img class="img-fluid mx-auto d-block" src="{% static 'account/images/logo.jpeg' %}" alt="Codignwithmitch logo image" width="72" height="72">
  </div>
  <h1 class="h3 mb-3 font-weight-normal">Register with us</h1>
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message|safe }}</div>
            {% endfor %}
        {% endif %}

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

  <input type="tel" name="mobile" id="inputUsername" class="form-control" placeholder="Mobile" required>

  <input type="text" name="first_name" id="inputUsername" class="form-control" placeholder="First Name" required>

  <input type="text" name="middle_name" id="inputUsername" class="form-control" placeholder="Middle Name">

  <input type="text" name="last_name" id="inputUsername" class="form-control" placeholder="Last Name" required>

  <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

  <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>
    <div class="form-group mb-0">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register">
        <span class="submitting"></span>
    </div>


</form>
<a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
<a href="{% url "social:begin" "facebook" %}">Facebook</a>
<a href="{% url "social:begin" "twitter" %}">Twitter</a>

{% endblock content %}