<style type="text/css">
	@media (min-width: 768px) {
	  html {
	    font-size: 16px;
	  }
	}

	.search-bar{
		max-width: 500px;
		width: 100%;
	}
	form{
		width: 100%;
	}
</style>

<!-- Header -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
  	{% if request.user.is_authenticated %}
  		<p class="m-auto">Hello, {{request.user.email}}</p>
  	{% endif %}
  </h5>
  <div class="search-bar mt-sm-2 mr-2">
  	<form method="get">
  		<input class="form-control"  type="text" name="q" id="id_q" placeholder="Search...">
  	</form>
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
  	{% if request.user.is_authenticated %}
	  	<a class="p-2 text-dark" href="{% url 'login' %}">Home</a>
	    <a class="p-2 text-dark" href="{% url 'login' %}">Account</a>
	    <a class="p-2 text-dark" href="{% url 'password_change' %}">Change Password</a>
	    <a class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>
	{% else %}
		<a class="p-2 text-dark" href="{% url 'login' %}">Home</a>
	    <a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
	    <a class="p-2 text-dark" href="{% url 'password_reset' %}">Reset Password</a>
	    <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
	{% endif %}

  </nav>
</div>

<!-- End Header -->

<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}"
</script>