 
{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">You must authenticate to view this page. </p>
		<p class="m-auto">
			<a href="{% url 'register' %}">Create an account</a> or 
			<a href="{% url 'login' %}">login</a>.
		</p>
	</div>
</div>

{% endblock content %}